/* components */
/* variables */
/* mixin */
.content .listNone {
  text-align: center;
  color: #333333;
}
@media (max-width: 767px) {
  .content .listNone {
    margin: 50px 0;
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .content .listNone {
    margin: 140px 0 97px;
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .content .listNone {
    margin: 199px 0 97px;
    font-size: 18px;
  }
}

.navMenu {
  display: block;
  overflow: hidden;
}
@media (max-width: 767px) {
  .navMenu {
    width: 100%;
    margin-top: 18px;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .navMenu {
    width: 100%;
    margin: 42px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .navMenu {
    width: 1280px;
    margin: 42px auto 0;
  }
}
@media (max-width: 767px) {
  .navMenu .navLink {
    float: left;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
  }
}


@media (min-width: 768px) and (max-width: 1279px) {
  .navMenu .navLink {
    float: left;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
  }
}
@media (min-width: 1280px) {
  .navMenu .navLink {
    float: left;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
  }
}
.navMenu .navLink li {
  line-height: normal;
}
@media (max-width: 767px) {
  .navMenu .navLink li {
    margin-bottom: -1px;
    padding-bottom: 17px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .navMenu .navLink li {
    float: left;
    margin-right: 35px;
    margin-bottom: -1px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1280px) {
  .navMenu .navLink li {
    float: left;
    margin-right: 35px;
    margin-bottom: -1px;
    padding-bottom: 17px;
  }
}
@media (max-width: 767px) {
  .navMenu .navLink li:first-child {
    float: left;
  }
}
@media (max-width: 767px) {
  .navMenu .navLink li.center {
    display: inline-block;
    float: none;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .navMenu .navLink li:last-child {
    float: right;
  }
}
.navMenu .navLink a {
  text-decoration: none;
}
@media (max-width: 767px) {
  .navMenu .navLink a {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  .navMenu .navLink a.userInfoModify {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .navMenu .navLink a {
    font-size: 16px;
    font-weight: normal;
    color: #333333;
  }
}
@media (min-width: 1280px) {
  .navMenu .navLink a {
    font-size: 18px;
    font-weight: normal;
    color: #333333;
  }
}
.navMenu .navLink li.active {
  border-bottom: 2px solid #ff4081;
}
.navMenu .navLink li.active a {
  font-weight: bold;
  color: #ff4081;
}

@media (max-width: 767px) {
  .accountList {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .accountList {
    width: 1280px;
  }
}
.accountList > li {
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
}
@media (max-width: 767px) {
  .accountList > li {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList > li {
    margin-top: 40px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1280px) {
  .accountList > li {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}
.accountList > li .imgArea {
  overflow: hidden;
}
@media (max-width: 767px) {
  .accountList > li .imgArea {
    position: relative;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList > li .imgArea {
    float: left;
    width: 246px;
    height: 142px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) {
  .accountList > li .imgArea {
    float: left;
    width: 246px;
    height: 142px;
  }
}
@media (max-width: 767px) {
  .accountList > li .imgArea::before {
    content: "";
    display: block;
    padding-top: 54%;
  }
}
.accountList > li .imgArea img {
  height: auto;
}
@media (max-width: 767px) {
  .accountList > li .imgArea img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList > li .imgArea img {
    width: 246px;
    min-height: 142px;
  }
}
@media (min-width: 1280px) {
  .accountList > li .imgArea img {
    width: 246px;
    min-height: 142px;
  }
}
@media (max-width: 767px) {
  .accountList > li .infoArea {
    width: 100%;
    margin-top: 21px;
  }
}
@media (min-width: 1280px) {
  .accountList > li .infoArea {
    float: left;
    width: 818px;
    margin-left: 30px;
  }
}
.accountList > li .infoArea > li {
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .accountList > li .infoArea > li {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList > li .infoArea > li {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
  }
}
@media (min-width: 1280px) {
  .accountList > li .infoArea > li {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
  }
}
.accountList > li .infoArea > li.bold {
  font-weight: bold;
}
.accountList > li .infoArea > li .subTitle {
  float: left;
  line-height: normal;
  font-weight: normal;
  color: #666666;
}
@media (max-width: 767px) {
  .accountList > li .infoArea > li .subTitle {
    width: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList > li .infoArea > li .subTitle {
    width: 79px;
    margin-right: 21px;
  }
}
@media (min-width: 1280px) {
  .accountList > li .infoArea > li .subTitle {
    width: 79px;
    margin-right: 21px;
  }
}
.accountList > li .infoArea > li:last-child {
  margin: 0;
}
@media (max-width: 767px) {
  .accountList > li .btnArea {
    margin-top: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList > li .btnArea {
    float: left;
  }
}
@media (min-width: 1280px) {
  .accountList > li .btnArea {
    float: left;
  }
}
.accountList > li .btnArea .btn {
  display: block;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
}
@media (max-width: 767px) {
  .accountList > li .btnArea .btn {
    width: 100%;
    height: 40px;
    line-height: 38px;
    border-radius: 3px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList > li .btnArea .btn {
    float: left;
    width: 180px;
    height: 38px;
    line-height: 36px;
    margin: 0 10px 10px 0;
  }
}
@media (min-width: 1280px) {
  .accountList > li .btnArea .btn {
    width: 180px;
    height: 38px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}
.accountList > li .btnArea .btn:active,
.accountList > li .btnArea .btn:hover {
  border: 0;
  color: #ffffff;
  background: #ff4081;
}
@media (max-width: 767px) {
  .accountList > li .btnArea .btn:active,
  .accountList > li .btnArea .btn:hover {
    line-height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .accountList > li .btnArea .btn:active,
  .accountList > li .btnArea .btn:hover {
    line-height: 38px;
  }
}
@media (min-width: 1280px) {
  .accountList > li .btnArea .btn:active,
  .accountList > li .btnArea .btn:hover {
    line-height: 38px;
  }
}

.popupArea {
  display: none;
}
.popupArea.show {
  display: block;
}
.popupArea .bgSkin {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.8;
  z-index: 101;
  cursor: pointer;
}
.popupArea .popupContent {
  position: fixed;
  background: #ffffff;
  z-index: 102;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .popupArea .popupContent {
    top: 76px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .popupArea .popupContent {
    top: 50%;
    left: 50%;
    width: 620px;
    height: auto;
    margin-top: -243px;
    margin-left: -310px;
    padding: 50px;
    border-radius: 17px;
  }
}
@media (min-width: 1280px) {
  .popupArea .popupContent {
    top: 50%;
    left: 50%;
    width: 620px;
    height: auto;
    margin-top: -243px;
    margin-left: -310px;
    padding: 50px;
    border-radius: 17px;
  }
}
.popupArea .popupContent .title {
  line-height: normal;
}
@media (max-width: 767px) {
  .popupArea .popupContent .title {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .popupArea .popupContent .title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }
}
@media (min-width: 1280px) {
  .popupArea .popupContent .title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }
}
.popupArea .popupContent .intro {
  line-height: normal;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}
@media (max-width: 767px) {
  .popupArea .popupContent .intro {
    margin-top: 7px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .popupArea .popupContent .intro {
    margin-top: 16px;
  }
}
@media (min-width: 1280px) {
  .popupArea .popupContent .intro {
    margin-top: 16px;
  }
}
.popupArea .popupContent textarea {
  display: block;
  margin-top: 18px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-sizing: border-box;
  resize: none;
}
@media (max-width: 767px) {
  .popupArea .popupContent textarea {
    width: 100%;
    height: 180px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .popupArea .popupContent textarea {
    width: 521px;
    height: 258px;
  }
}
@media (min-width: 1280px) {
  .popupArea .popupContent textarea {
    width: 521px;
    height: 258px;
  }
}
.popupArea .popupContent input[type="submit"] {
  margin: 20px auto 0;
  display: block;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  border: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  background: #ff4081;
  cursor: pointer;
}
@media (max-width: 767px) {
  .popupArea .popupContent input[type="submit"] {
    width: 135px;
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .popupArea .popupContent input[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .popupArea .popupContent input[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
}

/*# sourceMappingURL=accountCommon.css.map */
