/* components */
/* variables */
/* mixin */
.content {
  overflow: hidden;
}
@media (max-width: 767px) {
  .content {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .content {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .content {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}
.content .pinkFont {
  color: #ff4081;
}
.content .subTitle {
  line-height: normal;
}
@media (max-width: 767px) {
  .content .subTitle {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .content .subTitle {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }
}
@media (min-width: 1280px) {
  .content .subTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }
}

.placeInfo {
  overflow: hidden;
}
@media (max-width: 767px) {
  .placeInfo {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .placeInfo {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .placeInfo {
    width: 1280px;
    margin: 40px auto 0;
  }
}
.placeInfo .bannerArea {
  position: relative;
  float: left;
  width: 413px;
  height: 238px;
  margin-right: 29px;
}
@media (max-width: 767px) {
  .placeInfo .bannerArea {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .placeInfo .bannerArea {
    display: none;
  }
}
.placeInfo .bannerArea .slideImg {
  width: 413px;
  height: 238px;
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
}
.placeInfo .bannerArea .slideImg img {
  width: 413px;
  min-height: 238px;
}
.placeInfo .bannerArea .owl-controls {
  position: absolute;
  width: 413px;
  left: 0;
  bottom: 20px;
}
.placeInfo .bannerArea .owl-controls .owl-nav {
  display: none;
}
.placeInfo .bannerArea .owl-controls .owl-dots {
  text-align: center;
}
.placeInfo .bannerArea .owl-controls .owl-dot {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.placeInfo .bannerArea .owl-controls .owl-dot span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0.7;
  background: #ffffff;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
.placeInfo .bannerArea .owl-controls .owl-dot.active span {
  width: 8px;
  height: 8px;
  opacity: 1;
}
.placeInfo .mobileInfo {
  padding: 19px 0 18px;
  border-bottom: 1px solid #d8d8d8;
}
@media (min-width: 1280px) {
  .placeInfo .mobileInfo {
    display: none;
  }
}
.placeInfo .mobileInfo .placeTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.placeInfo .mobileInfo .priceAndTime {
  display: block;
  overflow: hidden;
}
@media (max-width: 767px) {
  .placeInfo .mobileInfo .priceAndTime {
    line-height: 16px;
    margin-top: 10px;
    text-align: right;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .placeInfo .mobileInfo .priceAndTime {
    line-height: normal;
    margin-top: 10px;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .placeInfo .mobileInfo .priceAndTime .price {
    font-size: 14px;
    font-weight: bold;
    color: #ff4081;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .placeInfo .mobileInfo .priceAndTime .price {
    font-size: 16px;
    font-weight: bold;
    color: #ff4081;
  }
}
@media (max-width: 767px) {
  .placeInfo .mobileInfo .priceAndTime .time {
    font-size: 12px;
    font-weight: normal;
    color: #333333;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .placeInfo .mobileInfo .priceAndTime .time {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
  }
}
.placeInfo .infoArea {
  float: left;
  width: 838px;
  padding-bottom: 28px;
  border-bottom: 1px solid #d8d8d8;
}
@media (max-width: 767px) {
  .placeInfo .infoArea {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .placeInfo .infoArea {
    display: none;
  }
}
.placeInfo .infoArea .infoList {
  margin-top: 16px;
  overflow: hidden;
}
.placeInfo .infoArea .infoList li {
  float: left;
  margin-bottom: 17px;
}
.placeInfo .infoArea .infoList li:last-child {
  margin-bottom: 0;
}
.placeInfo .infoArea .infoList .formTitle {
  float: left;
  width: 66px;
  line-height: normal;
}
.placeInfo .infoArea .infoList .rightArea {
  width: 335px;
  padding-left: 14px;
}
.placeInfo .infoArea .infoList p {
  line-height: normal;
}
.placeInfo .infoArea .infoList li.full {
  clear: both;
}
.placeInfo .infoArea .infoList li.full .rightArea {
  width: 730px;
}
.placeInfo .infoArea .infoList li.price .totalPrice {
  margin-bottom: 14px;
  color: #ff4081;
}
.placeInfo .infoArea .infoList li.price .space {
  width: 66px;
  line-height: 19px;
  margin: 0 10px 5px 0;
}

.reservationInfo {
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 767px) {
  .reservationInfo {
    width: 100%;
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo {
    width: 100%;
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .reservationInfo {
    width: 1280px;
    margin: 29px auto 0;
    padding-left: 442px;
    border-bottom: 1px solid #d8d8d8;
  }
}
@media (max-width: 767px) {
  .reservationInfo .subTitle {
    margin-top: 29px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .subTitle {
    margin-top: 29px;
  }
}
@media (max-width: 767px) {
  .reservationInfo .reservationList {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList {
    margin-top: 10px;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList {
    margin-top: 5px;
  }
}
.reservationInfo .reservationList > li {
  margin-bottom: 8px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList > li {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList > li {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList > li {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
  }
}
.reservationInfo .reservationList .hostTitle {
  float: left;
  line-height: 38px;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList .hostTitle {
    width: 69px;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList .hostTitle {
    width: 85px;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList .hostTitle {
    width: 124px;
  }
}
@media (max-width: 767px) {
  .reservationInfo .reservationList .editArea {
    display: block;
    width: 100%;
    padding-left: 69px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList .editArea {
    display: block;
    width: 100%;
    padding-left: 85px;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList .editArea {
    float: left;
    width: 714px;
  }
}
.reservationInfo .reservationList p {
  float: left;
  line-height: 38px;
  margin-left: 10px;
}
.reservationInfo .reservationList p.bold {
  font-weight: bold;
}
.reservationInfo .reservationList input[type="text"] {
  float: left;
  padding-left: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  box-sizing: border-box;
  outline: none;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList input[type="text"] {
    width: 100%;
    height: 38px;
    line-height: 38px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList input[type="text"] {
    width: 100%;
    height: 38px;
    line-height: 38px;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList input[type="text"] {
    width: 397px;
    height: 38px;
    line-height: 38px;
  }
}
.reservationInfo .reservationList .agreementText {
  display: block;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #ffffff;
  box-sizing: border-box;
  outline: none;
  resize: none;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList .agreementText {
    width: 100%;
    height: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList .agreementText {
    width: 100%;
    height: 100px;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList .agreementText {
    width: 397px;
    height: 88px;
  }
}
.reservationInfo .reservationList label {
  float: left;
  line-height: 20px;
}
.reservationInfo .reservationList input.checkStyle {
  float: left;
  margin-right: 10px;
}
.reservationInfo .reservationList li.people .hostTitle {
  line-height: 27px;
}
.reservationInfo .reservationList li.people .placeName {
  line-height: 27px;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList li.people .placeName {
    margin: 0 6px 4px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList li.people .placeName {
    margin: 0 6px 4px 10px;
  }
}
.reservationInfo .reservationList li.people .countWrap {
  display: block;
  overflow: hidden;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList li.people .countWrap {
    margin-bottom: 6px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList li.people .countWrap {
    margin-bottom: 6px;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList li.people .countWrap {
    width: 397px;
    margin-bottom: 10px;
  }
}
.reservationInfo .reservationList li.people .countWrap:last-child {
  margin-bottom: 2px;
}
.reservationInfo .reservationList .countArea {
  float: right;
  line-height: 27px;
}
.reservationInfo .reservationList .countArea .btn {
  float: left;
  width: 27px;
  height: 27px;
  line-height: 27px;
  display: block;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.reservationInfo .reservationList .countArea .decrement {
  border: 1px solid #999999;
  font-size: 21px;
  font-weight: normal;
  color: #999999;
}
.reservationInfo .reservationList .countArea .decrement.disabled {
  border-color: #d8d8d8;
  color: #d8d8d8;
}
.reservationInfo .reservationList .countArea .increment {
  border: 1px solid #999999;
  font-size: 23px;
  font-weight: normal;
  color: #999999;
}
.reservationInfo .reservationList .countArea input[type='text'] {
  float: left;
  width: 42px;
  height: 27px;
  margin: 0 4px;
  padding: 0;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList .countArea input[type='text'] {
    display: block !important;
  }
}
.reservationInfo .reservationList li.name .parsley-errors-list li {
  padding-bottom: 10px;
}
.reservationInfo .reservationList li.belong .parsley-errors-list li {
  padding-bottom: 7px;
}
.reservationInfo .reservationList li.use {
  padding-top: 20px;
  border-top: 1px solid #d8d8d8;
}
.reservationInfo .reservationList li.use .parsley-errors-list li {
  padding-bottom: 17px;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList li.inquire .hostTitle {
    line-height: 30px;
    margin-top: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList li.inquire .hostTitle {
    line-height: 30px;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .reservationInfo .reservationList li.pay {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList li.pay {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList li.pay {
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .reservationInfo .reservationList li.pay .hostTitle {
    line-height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList li.pay .hostTitle {
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList li.pay .hostTitle {
    line-height: 20px;
  }
}
.reservationInfo .reservationList li.pay .tips {
  float: none;
  line-height: normal;
  margin-left: 0;
  padding-top: 9px;
  word-break: keep-all;
  clear: both;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList li.pay .tips {
    font-size: 12px;
    font-weight: normal;
    color: #ff4081;
    padding-left: 8px;
    text-indent: -8px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList li.pay .tips {
    font-size: 14px;
    font-weight: normal;
    color: #ff4081;
    padding-left: 8px;
    text-indent: -8px;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList li.pay .tips {
    font-size: 14px;
    font-weight: normal;
    color: #ff4081;
  }
}
.reservationInfo .reservationList li.agreement {
  margin: 18px 0 30px;
  padding-top: 18px;
  border-top: 1px solid #d8d8d8;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList li.agreement .hostTitle {
    line-height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList li.agreement .hostTitle {
    line-height: 20px;
  }
}
.reservationInfo .reservationList li.agreement label {
  margin-bottom: 10px;
}
.reservationInfo .reservationList li.agreement .agreementText {
  margin-bottom: 20px;
  clear: both;
}
.reservationInfo .reservationList li.agreement .agreementLink {
  float: left;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  text-decoration: none;
}
@media (max-width: 767px) {
  .reservationInfo .reservationList li.agreement .agreementLink {
    margin-top: 4px;
    margin-left: 30px;
    text-decoration: underline;
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .reservationInfo .reservationList li.agreement .agreementLink {
    margin-left: 10px;
    text-decoration: underline;
  }
}
@media (min-width: 1280px) {
  .reservationInfo .reservationList li.agreement .agreementLink {
    margin-left: 10px;
  }
}
.reservationInfo .reservationList li.agreement .agreementErrorWrap .parsley-errors-list li {
  margin-top: -11px;
  margin-bottom: 18px;
  padding: 0;
}

.btnArea {
  overflow: hidden;
}
@media (max-width: 767px) {
  .btnArea {
    width: 100%;
    padding: 4px 10px 10px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .btnArea {
    width: 100%;
    padding: 4px 10px 10px;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .btnArea {
    width: 1280px;
    margin: 30px auto 0;
  }
}
.btnArea .btn {
  cursor: pointer;
}
@media (max-width: 767px) {
  .btnArea .btn {
    width: 100%;
    height: 40px;
    display: block;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    border: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #ff4081;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .btnArea .btn {
    width: 100%;
    height: 40px;
    display: block;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    border: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #ff4081;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .btnArea .btn {
    width: 280px;
    height: 50px;
    margin: 0 auto;
    display: block;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    border: 0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    background: #ff4081;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }
}

/*# sourceMappingURL=rsvp.css.map */
